#header {
    border: 3px black;
    color: white;
    padding-left: 350px;
    padding-top: 75px;
}

body {
    background-image: url('/home/mohd-admin/Documents/Projetcs/Temperature Converter/cool-background.png');
}

.footer {
    color: white;
    padding-top: 300px;
    padding-left: 400px;
    font-weight: 200;
}
.col-md-6 {
    color: orange;
    font-size: xx-large;
    padding-left: 100px;
    margin-right: -5px;
}

.form-control {
    padding-top: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.form-group {
    padding-left: 0px;
}

