body {
    background: url('/home/mohd-admin/Documents/Projetcs/Temperature Converter/cool-background.png');    
}

.container {
    color: white;
    padding-top: 90px;
    padding-left: 270px;
    padding-bottom: 80px;
    font-size: xx-large;
}

.container2 {
    color: white;
    padding-bottom: 20px;
    padding-left: 240px
}

#fahrenheitInput {
    margin-left: 240px;
} 

.footer {
    color: white;
    font-size: x-large;
    padding-top: 470px;
    padding-left: 1250px;
}
#fahrenheitInput2 {
    width: 130px;
    height: 30px;
    padding-left: 240px;
    margin-left: 240px;
}
.inputlabel {
    font-size: 25px;
}


